* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kick-pad {
  background: rgb(171, 200, 224);
}

.snare-pad {
  background: rgb(230, 176, 194);
}

.hihat-pad {
  background: rgb(160, 199, 180);
}

.kick-pad.active {
  background: rgb(89, 164, 224);
}

.snare-pad.active {
  background: rgb(221, 96, 138);
}

.hihat-pad.active {
  background: rgb(89, 194, 143);
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin-top: 2.2rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background: rgb(128, 127, 127);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5 ease;
}

.play {
  padding: 0.2rem 1.2rem;
  font-size: 1.5rem;
  background: rgb(128, 127, 127);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
  margin-left: 1rem;
}

.mute.active {
  background: rgb(224, 222, 222);
}

.tempo {
  margin: 3rem;
  width: 30%;
}

.tempo-slider {
  padding: 0.1rem;
  -webkit-appearance: none;
  margin: 0rem 0rem;
  width: 100%;
  position: relative;
  cursor: pointer;
  border-radius: 1rem;
  background-color: grey;
}

.tempo p {
  font-size: 1.3rem;
  margin: 1rem;
  text-align: center;
}
@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
